input[type="button"] {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: 0;
  font-size: 16px;
  font-weight: 500;
}

input[type="button"].blue {
  background: var(--btn-color-blue);
}

input[type="button"].blue:hover {
  background: var(--btn-color-blue-active);
}

input[type="button"].blue:active {
  background: var(--btn-color-blue);
}
