<section class="quizzes-page-section">
  <h2 class="task-data">
    {{quizName}} / question {{currentQuestion + 1}}/10
  </h2>
  <section class="quiz-section">
    <form>
      <p class="quiz-question-paragraph">
        {{quizQuestion}}
      </p>
      <div class="quiz-answers-block">
        <ng-template ngFor let-item [ngForOf]="quizAnswer" let-i="index">
          <label class="quiz-answer-label">
            <div class="custom-radio-component">
              <input
                [value]="item"
                [name]="'quizzes'+currentQuestion"
                type="radio"
                [defaultChecked]="false"
                (change)="answerHandler($event)"
              />
              <div class="radio-component-circle"></div>
            </div>
            <p [class]="currentAnswer == item ? 'checked' : '' ">{{item}}</p>
          </label>
        </ng-template>
      </div>
      <app-button [btnDisabled] = "currentAnswer == ''" [btnValue]="currentQuestion + 1 == totalQuestion ? 'Finish quiz': 'Next question'" [btnClass]="'blue'" (onClick)="goNextQuestion()"></app-button>
    </form>
  </section>
</section>
