.main-section{
  display: flex;
  flex-direction: column;
}
.main-section .main-text{
  color: var(--font-color-level-2);
  font-size: var(--font-main-description-size);
  font-weight: var(--font-medium-weight);
  margin-top: 5px;
}
.main-section .addition-text{
  font-size: var(--font-main-description-size);
  font-weight: var(--font-semibold-weight);
  margin: var(--margin-main-description-text);
  color:var(--font-color-level-1)
}
.quizzes-section{
  display: grid;
  gap: var(--gap-main-page);
  grid-template-columns: repeat(auto-fit, minmax(var(--minmax-quizzes-grid), 1fr));
}

