<section class="main-section">
  <h2 class="main-text">
    Is an application where you can answer questions
    and review your progress.
  </h2>
  <h3 class="addition-text">
    Choose an interesting topic below or select a random quiz by clicking on "I’m lucky":
  </h3>
  <section class="quizzes-section">
    <app-quiz-block [quizName]="'Books'" [quizData]="'Medium level / 10 questions'"></app-quiz-block>
    <app-quiz-block [quizName]="'Film'" [quizData]="'Medium level / 10 questions'"></app-quiz-block>
    <app-quiz-block [quizName]="'Music'" [quizData]="'Medium level / 10 questions'"></app-quiz-block>
    <app-quiz-block [quizName]="'Musicals & Theatres'" [quizData]="'Medium level / 10 questions'"></app-quiz-block>
    <app-quiz-block [quizName]="'History'" [quizData]="'Medium level / 10 questions'"></app-quiz-block>
    <app-quiz-block [quizName]="'Politics'" [quizData]="'Medium level / 10 questions'"></app-quiz-block>
  </section>
</section>

